{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<div class="container mt-4 text-center">-->
<!--<div class="card mx-auto bg-light" style="width: 30rem;">-->
<!--  <img src="{{movie.image.url}}" class="card-img-top " height="270px"  alt="...">-->
<!--  <div class="card-body">-->
<!--    <p class="card-text text-info"><small>Language: </small>{{movie.language}}</p>-->
<!--         <p class="card-text text-muted"><small>Year:</small> {{ movie.year }}</p>-->
<!--    <p class="card-text text-dark text-center">{{movie.description}}</p>-->
<!--    <a href="{% url 'app1:home' %}" class="btn btn-info text-light">Back to Movies</a>-->
<!--       <a href="{% url 'app1:edit' movie.id %}" class="btn text-light" style="background-color:#001D3D;">Edit</a>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

<div class="container mt-5">
<div class="card mb-3  mx-auto text-dark" style="max-width: 950px;  ">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{movie.image.url}}" class="img-fluid rounded-start p-2" style="height:400px;" alt="...">
    </div>
    <div class="col-md-7 mt-3">
      <div class="card-body">
        <h5 class="card-text text-muted"><small>Language: </small>{{movie.language}}</h5>
        <p class="card-text text-muted"><small>Year:</small> {{ movie.year }}</p>
        <p class="card-text">{{movie.description}}</p>

       <a href="{% url 'app1:edit' movie.id %}" class="btn  text-light me-2" style="background-color:#001D3D;">Edit</a>
         <a href="{% url 'app1:delete' movie.id %}" class="btn text-light " style="background-color:#001D3D;">Delete</a>


      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}